@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* * {
    background: #000;
    color: #FFFFFF;
} */



:root {
  background: #000;
  --white-a: #FFFFFF;
  --white-b: #EDEADE;
  --white-c: #FFF8DC;
  --black-a: #000;
  --black-b: #28282B;
  --black-c: #1B1212;
}

body {
  background: #000;
  color: #FFFFFF;
}

h1{
  color: var(--white-b);
}

h2{
  color: var(--white-c);
}

input::placeholder{
  color: var(--white-c);
}

.login-container{
  background: var(--black-b);
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #FFF;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  }

  @keyframes rotation {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
  } 