@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    background: #000;
    color: #FFFFFF;
}

:root {
  background: #000;
  color: #FFFFFF;
}

body {
  background: #000;
  color: #FFFFFF;
}